.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Убедитесь, что модалка выше других элементов на странице */
  }
  
  /* Стили для контента модального окна */
  .modal-content {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    width: 400px; /* Ширина модального окна */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Стили для кнопки закрытия */
  .close {
    color: #aaa;
    float: right; /* Положение в правом верхнем углу */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black; /* Цвет при наведении */
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Стили для заголовка модального окна */
  .modal-content h2 {
    margin: 0 0 10px; /* Отступы заголовка */
  }
  
  /* Стили для параграфов в модальном окне */
  .modal-content p {
    margin: 5px 0; /* Отступы для параграфов */
  }
  